{% extends "layouts/base.njk" %}

{% block content %}

<!-- HOME: START -->
<div class="content home">
    <i>Ping Practice</i>
    <p class="gray">
    <i>Click anywhere to enter →</i>
    </p>
</div>
<a class="enter" href="/about/"></a>
<!-- HOME: END -->

{% endblock %}