{% extends "layouts/base.njk" %}

{% block content %}

<!-- HOME: START -->
<div class="landing">
    <i>Ping Practice</i>
    <p class="gray">
        <i>Click anywhere to enter →</i>
    </p>
    <a class="enter" href="/about/"></a>
</div>
<!-- HOME: END -->

{% endblock %}