---
permalink: /transmissions/
---

{% extends "layouts/base.njk" %}

{% block content %}

{% for transmission in collections.transmissions %}
<p class="transmission">
    <span class="ping"></span>
    <a href="{{ transmission.url }}" class="spa-link">
    {{ transmission.data.title }}
    </a>
</p>
{% endfor %}
<br>
<hr>

{# <p>
    Transmissions are published notes, many created in collaboration with ping practitioners.
</p> #}
<p><i>Would you like to receive Transmissions—our ongoing notes created in tandem with the development of Ping Practice—inside your e-mail inbox? It is possible:</i>
</p>

{# https://buttondown.com/ping-practice-transmissions #}

<form
  action="https://buttondown.com/api/emails/embed-subscribe/ping-practice-transmissions"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/ping-practice-transmissions', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <input type="email" name="email" id="bd-email" placeholder="Your email here" />
  
  <input type="submit" value="Subscribe" />
</form>

<figure style="margin-top: 2.5em;">
    <img src="/assets/images/ping-sonar.png">
</figure>

<p><i>Thank you for receiving our Transmissions.</i></p>

<nav id="bottom" class="simple">
        <a href="/about/" class="button">“About” Ping Practice →</a>
</nav>


{% endblock %}
