<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if layout == "layouts/page.njk" %}
            <title>{{ title }} | Ping Practice</title>
            <meta property="og:title" content="{{ title }} | Ping Practice">
        {% else %}
            <title>Ping Practice</title>
            <meta property="og:title" content="Ping Practice">
        {% endif %}

        <meta property="og:image" content="{{ domain }}/assets/images/pp.png" />
        <link rel="stylesheet" href="{{ domain }}/assets/css/style.css?33333" />
        <meta property="og:description" content="">
        <meta property="og:url" content="{{ domain }}{{ page.url }}">

        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>

    {# determine the URL of the page and assign it to the class #}
    {% if page.url == '/' %}
        {% set cleanUrl = 'home' %}
    {% elseif page.url == '/transmissions/' %}
        {% set cleanUrl = 'transmissions' %}
    {% elseif page.url.startsWith('/transmissions/') %}
        {% set cleanUrl = 'transmission' %}
    {% else %}
        {% set cleanUrl = page.url.slice(1, -1) %}
    {% endif %}

    <body class="{{ cleanUrl }}">
        <div class="everything">
            {% include "layouts/header.njk" %}
            <main class="{{ cleanUrl }}">
                <div class="content {{ cleanUrl }} hidden">
                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>

        <script src="{{ site.url }}/assets/js/jquery.min.js"></script>
        <script src="{{ site.url }}/assets/js/mini-spa.js?5555"></script>
        <script src="{{ site.url }}/assets/js/script.js?5555"></script>

    </body>
</html>