<figure class="pp preserve" data-preserve-id="unique-id-1">
  <img 
      src="/assets/images/pp-app-transparent.png" 
      class="overlay overlay-app" 
  />
  <img
      src="/assets/images/pp-method-transparent.png"
      class="overlay overlay-method"
  />
  <img
      src="/assets/images/pp-people-transparent.png"
      class="overlay overlay-people"
  />
  <img
      src="/assets/images/pp-ping-ping-transparent.png"
      class="overlay overlay-about"
  />
  <img
      src="/assets/images/pp-transmissions-transparent.png"
      class="overlay overlay-transmissions"
  />
  <img src="/assets/images/pp.png" class="original" />
</figure>