<header>
    <nav id="ping-practice">
        <a href="/" class="spa-link home-link">Ping Practice</a>
    </nav>
    <div id="main">
        <nav id="primary">
        {% for individual_page in collections.pages %}
            <a href="{{ individual_page.url }}" class="spa-link {% if page.url == individual_page.url %}current{% endif %}">
            {{ individual_page.data.title }}
            </a>
        {% endfor %}
            <a href="/transmissions" class="spa-link {% if page.url == transmissions %}current{% endif %}">
                Transmissions
            </a>
        </nav>
        {% include "layouts/figure.njk" %}
    </div>
</header>